body {
  background: linear-gradient(to bottom, #357995, #8bb6c7, #88acbb ); 
  background-repeat: repeat-x;
  min-height: 100vh;
  height: 100%;
}

/* .app {
  display: flex;
  flex-direction: column;
} */

.footer {
  position: fixed;
  bottom: 0;
  
  width: 100%
  }

.c3-axis-x text 
{
  font-size: 12px;
}

    